/*ESTYLES FIRST SECTION INICIO */
#inicio {
    margin-top: 40px;
}

.textDivs {
    padding-left: 10px;
    padding-right: 10px;
}

.textDivTitle {
    font-size: 7vw;
}

.textDivBody {
    margin-top: 15px;
    font-size: 4.5vw;
    padding-right: 10vw;
}

.boxInfoDivs {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    background-image: url("/Media/inicio/seccion\ 1\ inicio\ web.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.boxInfoDivs div img {
    width: 50px;
}

.boxInfoDivOne,
.boxInfoDivTwo {
    background-color: rgb(242, 230, 207, 0.5);
    padding-left: 10px;
    padding-bottom: 5px;
}

.boxInfoDivTwo {
    margin-top: 15px;
}

.boxInfoDivsSubtitle {
    font-weight: bold;
    font-size: 5.5vw;
}

.boxInfoDivsText {
    font-size: 4.5vw;
    padding-right: 10vw;
}

.secondSectionImage img {
    display: none;
}

@media only screen and (min-width: 480px) {
    .textDivTitle {
        font-size: 5vw;
    }

    .textDivBody {
        margin-top: 15px;
        font-size: 3vw;
        padding-right: 10vw;
    }

    .boxInfoDivsSubtitle {
        font-size: 3.8vw;
    }

    .boxInfoDivsText {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 590px) {
    .textDivTitle {
        font-size: 4.4vw;
    }

    .textDivBody {
        font-size: 2.8vw;
    }

    .boxInfoDivsSubtitle {
        font-size: 3.4vw;
    }

    .boxInfoDivsText {
        font-size: 2.8vw;
    }
}

@media only screen and (min-width: 815px) {
    .textDivTitle {
        font-size: 4vw;
    }

    .textDivBody {
        font-size: 2.3vw;
    }

    .boxInfoDivsSubtitle {
        font-size: 3vw;
    }

    .boxInfoDivsText {
        font-size: 2.3vw;
    }
}

@media only screen and (min-width: 1000px) {
    .secondSectionImage img {
        margin-left: 20px;
        display: block;
    }

    .boxInfoDivOne,
    .boxInfoDivTwo {
        background-color: white;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .boxInfoDivOne:hover,
    .boxInfoDivTwo:hover {
        -webkit-box-shadow: -5px -4px 15px rgba(242, 230, 207, 0.7);
                box-shadow: -5px -4px 15px rgba(242, 230, 207, 0.7);
    }

    .boxInfoDivs {
        background-image: none;
    }

    .firstSection {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .secondSectionImage {
        margin-top: 100px;
        padding-right: 50px;
        width: 200%;
    }

    .secondSectionImage img {
        width: 100%;
        border-radius: 7px;
        -webkit-box-shadow: 4px 4px 21px black;
                box-shadow: 4px 4px 21px black;
    }

    .textDivTitle {
        font-size: 3.5vw;
    }

    .textDivBody {
        font-size: 2vw;
    }

    .boxInfoDivs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .boxInfoDivsSubtitle {
        font-size: 2vw;
    }

    .boxInfoDivsText {
        font-size: 2vw;
        padding-right: 20px;
    }

    .boxInfoDivTwo {
        margin-top: 0px;
    }

    .firstSectionInfo {
        margin-top: 70px;
        margin-left: 80px;
    }
}

@media only screen and (min-width: 1260px) {
    .secondSectionImage {
        width: 150%;
    }
}

@media only screen and (min-width: 1460px) {
    .firstSectionInfo {
        margin-top: 150px;
    }

    .secondSectionImage {
        width: 120%;
        margin-right: 40px;
    }

    .firstSectionInfo {
        margin-right: 80px;
    }

    .textDivTitle {
        font-size: 2.3vw;
    }

    .textDivBody {
        font-size: 1.4vw;
    }

    .boxInfoDivs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .boxInfoDivsSubtitle {
        font-size: 1.4vw;
    }

    .boxInfoDivsText {
        font-size: 1.4vw;
    }
}

/*ESTYLES SECOND SECTION INICIO */
/**********************CARDS*******************************/
.card__title {
    font-size: 2.25rem;
    color: white;
    line-height: 1.1;
}

.card__description {
    font-size: 1rem;
    line-height: 1.5;
    color: white;
}

.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 80vw;
    max-width: 21.875rem;
    height: 28.125rem;
    overflow: hidden;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card>* {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
}

.card__background {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.card__content {
    --flow-space: 0.9375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 80%;
    padding: 22% 1.25rem 1.875rem;
    background: -webkit-gradient(linear,
            left top, left bottom,
            from(hsla(0, 0%, 0%, 0)),
            color-stop(10%, hsla(0, 0%, 0%, 0.3)),
            to(hsl(0, 0%, 0%)));
    background: -o-linear-gradient(top,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.3) 10%,
            hsl(0, 0%, 0%) 100%);
    background: linear-gradient(180deg,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.3) 10%,
            hsl(0, 0%, 0%) 100%);
}

.card__content--container {
    --flow-space: 1.25rem;
}

.card__title {
    position: relative;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
    /* Prefijo necesario para Firefox  */
}

.card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: var(--brand-color);
}

@media (any-hover: hover) and (any-pointer: fine) {
    .card__content {
        -webkit-transform: translateY(62%);
            -ms-transform: translateY(62%);
                transform: translateY(62%);
        -webkit-transition: -webkit-transform 500ms ease-out;
        transition: -webkit-transform 500ms ease-out;
        -o-transition: transform 500ms ease-out;
        transition: transform 500ms ease-out;
        transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
        -webkit-transition-delay: 500ms;
             -o-transition-delay: 500ms;
                transition-delay: 500ms;
    }

    .card__title::after {
        opacity: 0;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: opacity 1000ms ease-in, -webkit-transform 500ms ease-out;
        transition: opacity 1000ms ease-in, -webkit-transform 500ms ease-out;
        -o-transition: opacity 1000ms ease-in, transform 500ms ease-out;
        transition: opacity 1000ms ease-in, transform 500ms ease-out;
        transition: opacity 1000ms ease-in, transform 500ms ease-out, -webkit-transform 500ms ease-out;
        -webkit-transition-delay: 500ms;
             -o-transition-delay: 500ms;
                transition-delay: 500ms;
        -webkit-transform-origin: right;
            -ms-transform-origin: right;
                transform-origin: right;
    }

    .card__background {
        -webkit-transition: -webkit-transform 500ms ease-in;
        transition: -webkit-transform 500ms ease-in;
        -o-transition: transform 500ms ease-in;
        transition: transform 500ms ease-in;
        transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
    }


    .card:hover,
    .card:focus-within {
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
        -webkit-transition: -webkit-transform 500ms ease-in;
        transition: -webkit-transform 500ms ease-in;
        -o-transition: transform 500ms ease-in;
        transition: transform 500ms ease-in;
        transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
    }

    .card:hover .card__content,
    .card:focus-within .card__content {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        -webkit-transition: -webkit-transform 500ms ease-in;
        transition: -webkit-transform 500ms ease-in;
        -o-transition: transform 500ms ease-in;
        transition: transform 500ms ease-in;
        transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
    }

    .card:focus-within .card__content {
        -webkit-transition-duration: 0ms;
             -o-transition-duration: 0ms;
                transition-duration: 0ms;
    }

    .card:hover .card__background,
    .card:focus-within .card__background {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
                transform: scale(1.3);
    }

    .card:hover .card__content--container> :not(.card__title),
    .card:hover .card__button,
    .card:focus-within .card__content--container> :not(.card__title),
    .card:focus-within .card__button {
        opacity: 1;
        -webkit-transition: opacity 500ms ease-in;
        -o-transition: opacity 500ms ease-in;
        transition: opacity 500ms ease-in;
        -webkit-transition-delay: 1000ms;
             -o-transition-delay: 1000ms;
                transition-delay: 1000ms;
    }

    .card:hover .card__title::after,
    .card:focus-within .card__title::after {
        opacity: 1;
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                transform-origin: left;
        -webkit-transition: opacity 500ms ease-in, -webkit-transform 500ms ease-in;
        transition: opacity 500ms ease-in, -webkit-transform 500ms ease-in;
        -o-transition: opacity 500ms ease-in, transform 500ms ease-in;
        transition: opacity 500ms ease-in, transform 500ms ease-in;
        transition: opacity 500ms ease-in, transform 500ms ease-in, -webkit-transform 500ms ease-in;
        -webkit-transition-delay: 500ms;
             -o-transition-delay: 500ms;
                transition-delay: 500ms;
    }
}

/**********************CARDS*******************************/

.secondSection {
    margin-top: 80px;
    background-image: url("/Media/inicio/seccion\ 2\ responsive\ patron.png");
    padding: auto;
}

.secondSectionSeparator {
    height: 20px;
    width: 100%;
    background-image: url("/Media/inicio/seccion\ 2\ responsive\ patron.png");
}
.separatorDown {
    height: 70px;
}
.secondSectionLeffText p {
    font-size: 2.1vw;
    color: #014257;
}
.secondSectionLeffText p span{
    font-size: 3vw;
    color: rgb(102, 25, 25);
    font-weight: bold;
}
.secondSectionLeffText {
    display: none;
}

@media only screen and (max-width: 853px){
    .card {
        margin-top: 40px;
    }
    .secondSectionRightCards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media only screen and (min-width: 854px) {
    .secondSectionLeffText {
        display: block;
    }
    .card {
        margin-top: 20px;
    }
    .secondSectionRightCards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack:distribute;
            justify-content:space-around;
    }
    .secondSectionLeffText {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .card__description {
        font-size: 1.3rem;
        line-height: 1.2;
        color: white;
    }
}
@media only screen and (min-width: 1260px) {
    .secondSectionLeffText p {
        font-size: 1.5vw;
    }
}

@media only screen and (min-width: 1460px) {
     .secondSectionUp {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
     }
     .secondSectionLeffText {
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 4%;
        margin-top: 7%;
        margin-bottom: 7%;
        padding-bottom: 30px;
        width: 30%;
        background-color: white;
        border-radius: 6px;
        -webkit-box-shadow: 0px 3px 5px rgb(17, 76, 85, 0.4);
                box-shadow: 0px 3px 5px rgb(17, 76, 85, 0.4);
    }
    .secondSectionLeffText p{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .secondSectionRightCards {
        padding-top: 60px;
        width: 70%;
    }
    .separatorDown {
        -webkit-box-shadow: 0px 3px 5px rgb(43, 43, 48, 0.4);
                box-shadow: 0px 3px 5px rgb(43, 43, 48, 0.4);
    }
}

/*ESTYLES THIRD SECTION INICIO */
.sectionThree {
    margin-top: 50px;
}
.sectionThreePros {
    padding: 40px 10px 30px 10px;
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sectionThreePros h2 {
    width: 100%;
    text-align: center;
}
.sectionThreeProsSeparator {
    margin-top: 8px;
    height: 4px;
    width: 80%;
    background-color: #4a6eb0;
}

.sectionThreeSlider {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#4a6eb0), to(#0799b6));
    background-image: -o-linear-gradient(bottom left, #4a6eb0, #0799b6);
    background-image: linear-gradient(to top right, #4a6eb0, #0799b6);
    min-height: 700px;
    margin-top: 0px ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.slider {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 620px;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 300px;
    height: 530px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    left: calc(50% - 160px);
    top: 0;
}

.item h3 {
    margin-top: -5px;
    height: 60px;
    font-size: 39px;
}

.item p {
    padding-top: 30px;
    font-size: 22px;
}

#next {
    position: absolute;
    right: 20%;
    top: 40%;
}

#prev {
    position: absolute;
    left: 20%;
    top: 40%;
}

#prev,
#next {
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.55;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#prev img, #next img {
    width: 80px;
}

#prev:hover,
#next:hover {
    opacity: 1;
}

@media only screen and (max-width: 1200px) {
    .sectionThreeSlider {
        min-height: 600px;
    }

    .slider {
        margin-top: 95px;
        min-height: 600px;
        width: 100%;
    }

    #next {
        right: 50px;
        margin-top: 300px;
    }

    #prev {
        left: 50px;
        margin-top: 300px;
    }

    #prev,
    #next {
        font-size: 50px;
    }

    .item {
        min-height: 480px;
        width: 250px;
        padding: 15px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        left: calc(50% - 122.5px);
    }

    .item h3 {
        font-size: 30px;
    }

    .item p {
        font-size: 23px;
    }
}

@media only screen and (min-width: 854px) {
    #next {
        margin-top: 40px;
    }

    #prev {
        margin-top: 40px;
    }
}